appVersion: apps/t1
kind: Deployment
metadata:
  name: mywebapp-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: mywebapp
  template:
  metadata:
    labels:
      app: mywebapp
  spec:
    containers:
    - name: mywebapp
      image: saradasrinija/sample:latest
      ports:
      - containerPort: 5000
