<!DOCTYPE html>
<html>
    <head>
         <title>Registration form</title>
    </head>
    <body>
         <h1>Register</h1>
         <form method="post" action="/submit">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required><br><br>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required><br><br>
              <label for="password">Phone:</label>
              <input type="password" id="phone" name="phone" required><br><br>
              <input type="submit" value="Register">
<html>